<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static',filename='css/app.css')}}">
    <title>Hello, world!</title>
  </head>
  <body>
    {% extends "template.html" %}
    {% block content %}
    <div class="container-fluid">
      <div class="container">
      <h1 class="h1 text-center">Hello, world!</h1>
      <h2 class="h2 text-center">Here's a random object from the Metropolitan Museum.</h2>
      
      <p class="text-center">Refresh this page for a new pick.</p>
      <div class="row">
        <div class="col-lg-6">
          <img class="img-fluid" src="{{datum.primaryImage}}" />
        </div>
        <div class="col-lg-6">
          <div class="table-responsive">
            <table class="table table-primary">
              <thead>
                <tr>
                  <th scope="col"></th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody>
                <tr class="">
                  <td scope="row">Artist</td>
                  <td>{{datum.artistDisplayName}}</td>
                </tr>
                <tr class="">
                  <td scope="row">Artist Bio</td>
                  <td>{{datum.artistDisplayBio}}</td>
                </tr>
                <tr class="">
                  <td scope="row">Title</td>
                  <td>{{datum.title}}</td>
                </tr>
                <tr class="">
                  <td scope="row">Date</td>
                  <td>{{datum.objectDate}}</td>
                </tr>
                <tr class="">
                  <td scope="row">Medium</td>
                  <td>{{datum.medium}}</td>
                </tr>
                <tr class="">
                  <td scope="row">Dimensions</td>
                  <td>{{datum.dimensions}}</td>
                </tr>
                <tr class="">
                  <td scope="row">Department</td>
                  <td>{{datum.department}}</td>
                </tr>
              </tbody>
            </table>
          </div>
          <p>To learn more about the object, visit <a href="{{datum.objectURL}}">its page on metmuseum.org</a>!</p>         
        </div>
      </div>
      
      <div class="row">
        <div class="col-md-6 offset-md-3">
          <p class="text-center">{{xkcdatum.day}}/{{xkcdatum.month}}/{{xkcdatum.year}}</p>
          <img class="img-fluid" src="{{xkcdatum.img}}"/>
          
        </div>
      </div>
    </div>
      
      
    </div>
    {% endblock %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
  </body>
</html>